* {
  font-family: 'Chivo Mono', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* styling for the home component */
.home {
  height: 100vh;
  width: 100vw;
  padding: 50px;
  font-size: 24px;
  background: rgb(16,12,8);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 60px;
}