* {
  font-family: 'Chivo Mono', monospace;
}

body{
  margin: 0;
  padding: 0;
  background: rgb(0,0,0);
}

/* Navbar and nav-items styling */
.navbar{
  background: rgb(65,74,76);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;;
  border: 1px solid black;
  width: 200px;
  height: 100vh;
}

.menu{
  border: 1px solid salmon;
}

.name{
  color: aliceblue;
  font-size: 24px;
  margin: 20px 20px;
}

.nav-items{
  color: aliceblue;
  font-size: 20px;
  margin: 20px;
  padding: 20px 0px;
  border-bottom: 1px dashed aliceblue;
}

/* sliding hamburger menu styling and visibility */
.hidden {
  display: none;
}

/* Styling for the Home section */
.home{
  color: aliceblue;
  padding: 30px;
}

.big-name{
  font-size: 60px;
}